/*=============== BUTTONS ===============*/
.button{
    display: inline-block;
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 1rem 1.25rem;
    border-radius: .5rem;
    transition: .3s;

    &:hover{
        background-color: var(--black-color-alt);
    }

    &__icon{
        font-size: 1.2rem;
    }

    &--flex{
        display: inline-flex;
        align-items: center;
        column-gap: .75rem;
    }
}

.link-disabled {
    pointer-events: none;
}

.light .button:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.theme-toggle {
    margin-top: var(--mt-0-75);
    width: 45px;
}

.dark-icon{
    filter: contrast(0.001);
    width: 34px;
}

.light .dark-icon {
    display: none;
}

.dark .light-icon {
    display: none;
}