/*=============== FOOTER ===============*/
.footer{
    &__container{
        display: flex;
        flex-direction: row;
        gap: 60px 30px;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-wrap: wrap;

    }

    &__content {
        flex-grow: 5;
    }

    &__logo{
        flex-grow: 2;
        
        &__label {
            font-family: "Concert One", sans-serif;
            font-size: 43px;
        }

        img{
            height: 70px;
        }
    }

    &__title{
        font-size: var(--h3-font-size);
        font-weight: var(--font-medium);
        margin-bottom: var(--mb-1);
    }
    &__links{
        display: flex;
        flex-direction: column;
        row-gap: .5rem;
        color: cornflowerblue;

        a {
            color: cornflowerblue;
        }

        table {
            border-spacing: 0px 15px;
        }

        &__category{
            padding-left: 2px;
            color: lightcoral;
        }
    }
    &__link{
        color: var(--text-color);

        &:hover{
            color: var(--white-color);
        }
    }


    &__copy{
        margin-top: 5rem;
        text-align: center;

        &-link{
            font-size: var(--smaller-font-size);
            color: var(--text-color-light);
        }
    }
}

.color-blue-logo {
    color: #006FAD;
}

.color-red-logo {
    color: #F22F0F;
}