/*=============== REUSABLE CSS CLASSES ===============*/
.section{
    padding: 4rem 0 2rem;

    &__title{
        font-weight: 800;
        font-size: var(--bigger-font-size);
        text-align: center;
        margin-bottom: var(--mb-2-5);
        line-height: 1;
        @include text-gradient(13s, hsl(var(--hue-color), 4%, 38%), hsl(var(--hue-color), 4%, 19%), left)
    }
}

/*=============== LAYOUT ===============*/
.main{
    overflow: hidden;
}

.container{
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid{
    display: grid;
}

.pos-r{
    position: relative;
}

.pl-5{
    padding-left: 5px;
}

.pr-10{
    padding-right: 10px;
}